html.home {
  scroll-snap-type: y mandatory;

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    &:not(:last-child) {
      min-height: var(--content-height); /* Per browser che non supportano dvh */
    }
  }

  footer {
    scroll-snap-align: start;
  }
}