@use 'abstracts' as *;


// ---- SERVICES ----

.service-icon {
  flex-shrink: 0;
  @include flex-center;
  color: $color-primary;
  font-size: 1.25rem;
}

.services-item {
  background-color: darken($color-bg, 10);
  .card-body {
    align-items: center;
  }
}

// Custom Accordion per la sezione Servizi
.lba-accordion {
  @extend .accordion;
  @extend .shadow-sm;

  .accordion-item {
    @extend .border-0;
    
    &:not(:last-child) {
      @extend .border-bottom;
    }
  }

  .accordion-button {
    @extend .fw-bold;
    @extend .bg-white;

    &:not(.collapsed) {
      @extend .bg-white;
      color: var(--bs-accordion-active-color);
      box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-active-color);
    }
  }
}
