<section class="hero py-4 text-center" id="home" aria-labelledby="hero-heading">
  <h1 id="hero-heading" class="display-5 fw-bold">La Bussola dell'Abitare</h1>
  <p id="hero-copy" class="lead mx-auto">Uno sportello gratuito che ti orienta e ti supporta quando hai difficoltà con la casa.
      Siamo qui per ascoltarti, aiutarti a capire i tuoi diritti e accompagnarti verso soluzioni sostenibili.</p>
  <div class="btn-group">
    <a href="https://api.whatsapp.com/send?phone=00393349617817&text='Salve, vi scrivo dal sito. Volevo chiedervi '" class="btn btn-accent">Contattaci</a>
</div>
</section>
