<section class="py-5" id="orari" aria-labelledby="orari-title">
  <div class="container">
    <h2 class="section-title" id="destinatari-title">A chi è rivolto</h2>
    <div class="section-divider" aria-hidden="true"></div>

    <p class="text-secondary col-12">
      A tutti i cittadini e le cittadine che hanno bisogno di un supporto per le <strong>difficoltà abitative</strong>.
      Rivolgiti direttamente allo sportello per verificare i requisiti o per qualsiasi dubbio.
    </p>
  </div>
</section>