<nav class="navbar navbar-expand-lg navbar-dark site-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2 fw-bold" href="index.html#home" aria-label="La Bussola dell'Abitare - home">
      <img src="assets/images/logo.svg" alt="" class="nav-logo-img" aria-hidden="true" />
      <span>La Bussola dell'Abitare</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Apri menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chi siamo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="index.html#chi-siamo">Chi siamo</a>
            <a class="dropdown-item" href="index.html#servizi">Servizi</a>
            <a class="dropdown-item" href="index.html#orari">Orari</a>
            <a class="dropdown-item" href="index.html#contatti">Contatti</a>
            <a class="dropdown-item" href="materiali.html">Materiali promozionali</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#mappatura">Mappatura</a></li>
      </ul>
    </div>
  </div>
</nav>
