html.home {
  scroll-snap-type: y mandatory;

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    &:not(:last-child) {
      min-height: calc( 100vh - var(--navbar-height) ); /* Per browser che non supportano dvh */
      min-height: calc( 100dvh - var(--navbar-height) );
    }
  }

  footer {
    scroll-snap-align: start;
  }
}