{% assign page_name = page.name | split: "." | first %}

<!DOCTYPE html>
<html lang="it" class="{{ page.id | default: page_name }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} - La Bussola dell'Abitare</title>
  <meta name="description" content="Sportello gratuito di supporto abitativo nell'XI Municipio di Roma. Orientamento, modulistica, mediazione culturale e linguistica." />
  <link rel="icon" type="image/svg+xml" href="assets/images/logo.svg" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>