@use 'abstracts' as *;

// ---- ROOT & RESET ----

:root {

  // make custom colors available to CSS (so they can be changed at runtime)
  @each $name, $value in $custom-colors {
    --#{$name}: #{$value};
    --bs-#{$name}: #{$value};
  }

  --radius: #{$radius};
  --shadow: #{$shadow};
  --max-width: #{$max-width};
  --navbar-height: #{$navbar-height};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
